RewriteEngine On

# If request is not for a real file or directory,
# rewrite everything to /app/public/index.php (Laravel front controller)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /app/public/index.php [L]
